html,body,table {
	background-color: rgb(104, 165, 162);
	}

h1, h2, h3, p {
    font-family: Garamond, serif;
    color: rgb(2, 36, 90);
    }

h3{
    font-weight: bold;
    }

a:link {
    text-decoration: none;
    }